@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Bangers&family=Bebas+Neue&family=Carlito:wght@700&family=Castoro+Titling&family=Cormorant+Garamond&family=Fjalla+One&family=Gilda+Display&family=Gloock&family=Goblin+One&family=Holtwood+One+SC&family=Inter&family=Kanit&family=Konkhmer+Sleokchher&family=Koulen&family=Lilita+One&family=Merriweather:ital@0;1&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;700&family=Oswald:wght@200;400&family=Permanent+Marker&family=Poppins:wght@100;400;500;600;700;800&family=Rajdhani:wght@700&family=Righteous&family=Roboto+Condensed:ital@1&family=Roboto:wght@300&family=Ruda:wght@600&family=Rufina&family=Russo+One&family=Share+Tech+Mono&family=Shrikhand&family=Slabo+27px&family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.results__card {
    text-align: center;
    background-color: #1b2afc;
    height: 450px;
    color: #fff;
    border-radius: 40px;
    transition: transform 300ms ease;
}

.results__card:hover {
    transform: scale(1.1);
}

.results__card h4 {
    position: relative;
    top: 40px;
    color: #f3f3f3be;
}

.results-info {
    position: relative;
    top: 100px;
    padding: 10px;
}

.results-info p {
    position: relative;
    top: 50px;
    font-size: 14px;
    padding: 15px;
}

.results-info h1 {
    font-size: 60px;
    font-weight: 600;
    background-color: #091bc270;
    text-align: center;
    width: 40%;
    height: 110px;
    border-radius: 100%;
    margin-left: 30%;
    position: relative;
}

.results-info small {
    position: relative;
    top: 50px;
    font-size: 22px;
    font-weight: 600;
}

.summary-results img {
    height: 20px;
}

.summary__card {
    background-color: #ffffff;
    height: 400px;
    width: 300px;
    position: relative;
    right: 55px;
    box-shadow: 3px 4px 30px rgba(5, 8, 163, 0.3);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s ease;
}

.summary__card:hover {
    box-shadow: 3px 4px 30px rgba(5, 8, 163, 0.1);
}

.summary__card h4 {
    position: relative;
    top: 20px;
    left: 20px;
}

.summary-results {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 60px;
}

.summary-results-list1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f3343423;
    width: 95%;
    margin: 0 auto;
}

.summary-results-list1 h5 {
    position: relative;
    right: 60px;
    color: #ff5b5b;
}

.summary-results-list1 small span {
    font-weight: 600;
    font-size: 14px;
}

.summary-results-list2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e0f33423;
}

.summary-results-list2 h5 {
    position: relative;
    right: 60px;
    color: #d4d10c;
}

.summary-results-list2 small span {
    font-weight: 600;
    font-size: 14px;
}

.summary-results-list3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #57f33823;
}

.summary-results-list3 h5 {
    position: relative;
    right: 60px;
    color: #03be0c;
}

.summary-results-list3 small span {
    font-weight: 600;
    font-size: 14px;
}

.summary-results-list4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3844f323;
}

.summary-results-list4 h5 {
    position: relative;
    right: 60px;
    color: #140691;
}

.summary-results-list4 small span {
    font-weight: 600;
    font-size: 14px;
}

button {
    width: 80%;
    height: 40px;
    background-color: #333;
    color: #fff;
    outline: none;
    border: none;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    transition: transform 300ms ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #2448ec;
    color: #fff;
}

@media screen and (min-width: 600px){
    .container {
        display: flex;
        flex-direction: column;
    }
}